<div class="row">

      <!-- left list column -->
      <div class="col-sm-5 bootcards-list" id="list" data-title="Contacts">
        <div class="panel panel-default">       
          <div class="panel-body">
            <div class="search-form">
              <div class="row">
                <div class="col-xs-9">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search Contacts...">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
                <div class="col-xs-3">
                  <a class="btn btn-primary btn-block" href="#" onclick="bootcards.hideOffCanvasMenu()" >
                    <i class="fa fa-plus"></i> 
                    <span>Add</span>
                  </a>
                </div>
              </div>                
            </div>          
          </div><!--panel body-->

          <div class="list-group">

            <!-- list of sample data -->

            <a class="list-group-item" href="#">
              <img src="img/Joseph Barish.jpg" class="img-rounded pull-left">
              <h4 class="list-group-item-heading">Barish, Joseph</h4>
              <p class="list-group-item-text">Masung Corp.</p>
            </a>

            <a class="list-group-item active" href="#">
              <img src="img/Sofia Acey.jpg" class="img-rounded pull-left">
              <h4 class="list-group-item-heading">Acey, Sofia</h4>
              <p class="list-group-item-text">Masung Corp.</p>
            </a>
            
            <a class="list-group-item " href="#">
              <img src="img/Jerry Bess.jpg" class="img-rounded pull-left">
              <h4 class="list-group-item-heading">Bess, Jerry</h4>
              <p class="list-group-item-text">ZetaComm</p>
            </a>
            
            <a class="list-group-item " href="#">
              <img src="img/Jamie Biddy.jpg" class="img-rounded pull-left">
              <h4 class="list-group-item-heading">Biddy, Jamie</h4>
              <p class="list-group-item-text">Masung Corp.</p>
            </a>
            
            <a class="list-group-item " href="#">
              <img src="img/Mark Booth.jpg" class="img-rounded pull-left">
              <h4 class="list-group-item-heading">Booth, Mark</h4>
              <p class="list-group-item-text">Burning Core</p>
            </a>

            <a class="list-group-item" href="#">
              <img src="img/Sofia Acey.jpg" class="img-rounded pull-left">
              <h4 class="list-group-item-heading">Acey, Sofia</h4>
              <p class="list-group-item-text">Masung Corp.</p>
            </a>
            
            <a class="list-group-item " href="#">
              <img src="img/Joseph Barish.jpg" class="img-rounded pull-left">
              <h4 class="list-group-item-heading">Barish, Joseph</h4>
              <p class="list-group-item-text">Masung Corp.</p>
            </a>
            
            <a class="list-group-item " href="#">
              <img src="img/Jerry Bess.jpg" class="img-rounded pull-left">
              <h4 class="list-group-item-heading">Bess, Jerry</h4>
              <p class="list-group-item-text">ZetaComm</p>
            </a>
            
            <a class="list-group-item " href="#">
              <img src="img/Jamie Biddy.jpg" class="img-rounded pull-left">
              <h4 class="list-group-item-heading">Biddy, Jamie</h4>
              <p class="list-group-item-text">Masung Corp.</p>
            </a>
            
            <a class="list-group-item " href="#">
              <img src="img/Mark Booth.jpg" class="img-rounded pull-left">
              <h4 class="list-group-item-heading">Booth, Mark</h4>
              <p class="list-group-item-text">Burning Core</p>
            </a>

            <a class="list-group-item " href="#">
              <img src="img/Sofia Acey.jpg" class="img-rounded pull-left">
              <h4 class="list-group-item-heading">Acey, Sofia</h4>
              <p class="list-group-item-text">Masung Corp.</p>
            </a>
            
            <a class="list-group-item " href="#">
              <img src="img/Joseph Barish.jpg" class="img-rounded pull-left">
              <h4 class="list-group-item-heading">Barish, Joseph</h4>
              <p class="list-group-item-text">Masung Corp.</p>
            </a>
            
            <a class="list-group-item " href="#">
              <img src="img/Jerry Bess.jpg" class="img-rounded pull-left">
              <h4 class="list-group-item-heading">Bess, Jerry</h4>
              <p class="list-group-item-text">ZetaComm</p>
            </a>
            
            <a class="list-group-item " href="#">
              <img src="img/Jamie Biddy.jpg" class="img-rounded pull-left">
              <h4 class="list-group-item-heading">Biddy, Jamie</h4>
              <p class="list-group-item-text">Masung Corp.</p>
            </a>
            
            <a class="list-group-item " href="#">
              <img src="img/Mark Booth.jpg" class="img-rounded pull-left">
              <h4 class="list-group-item-heading">Booth, Mark</h4>
              <p class="list-group-item-text">Burning Core</p>
            </a>
            
          </div><!--list-group-->

          <div class="panel-footer">
            <small class="pull-left">Built with Bootcards - List</small>
            <a class="btn btn-link btn-xs pull-right" href="#">
              Footer link</a>
          </div>
        </div><!--panel-->

        </div><!--list-->
        
</div>